ICLOUD_USERNAME=test@icloud.com # your icloud username
ICLOUD_PASSWORD=sillypassword # your icloud password
LOCAL_DIRECTORY=~/test-icloud-sync/files # the directory to sync with icloud
SYNC_INTERVAL=300 # the interval in seconds to sync with icloud

LOG_FILE=~/icloud-sync.log
LOG_LEVEL=INFO  # DEBUG, INFO, WARNING, ERROR, CRITICAL
